npm-debug.log
certbot.log
composer.lock

/node_modules/*
/vendor/*

/config/pswd.php
/web/assets/build/*
/web/bin/*

*.save
*.php~
undefined
help.txt
composer.lock
.ftpconfig

#tmp

/web/UserProvider.php
/web/test.php
/web/BasicAuthControllerProvider.php
/web/examples.php
